body{
    background-color: grey;
}

#container1{
    width: 500px;
    height: 150px;
    margin: 0 auto;
    background-color: #ffd11a;
}

#container2{
    width: 500px;
    height: 100px;
    margin: 0 auto;
    background-color: white;
}

#lingWord{
    margin-top: 6%;
    margin-left: 10%;
}

#userInput{
    margin-top: 3%;
    margin-left: 13.5%;
}

#checkBtn{
    margin: 6% 0 0 42%;
}

label {
    margin-left: 5%;
}

button{
    padding: 3% 5%;
    background-color: white;
    border-color: black;
}

#btn1{
    margin: 4% 0 0 15%;
}